.nav-item > a:visited {
    color: black;
}

.nav-item > a:link {
    color: black;
}

/*.custom-toggler {
    border-color: black !important;
}*/

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: black;
} 

.cfix {
    margin-top: 50px;
}

.article {
    padding: 5%;
}

.padd-apartado {
    padding-top: 2%;
}

.row-table {
    text-align: center;
}